.add-user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 10px;
    width: 100%;
    border: 2px solid $main-grey;
    border-left: none;
    &__input {
        border: 2px solid $main-grey;
        border-radius: 20px;
        padding: 3px 20px;
        outline: none;
        width: 200px;
        transition: box-shadow .3s;
        &:focus {
            -webkit-box-shadow: 0px 0px 15px 0px rgba(117,168,213,0.71);
            -moz-box-shadow: 0px 0px 15px 0px rgba(117,168,213,0.71);
            box-shadow: 0px 0px 15px 0px rgba(117,168,213,0.71);
        }
    }
    &__button {
        border: none;
        background: transparent;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        transition: background .3s;
        margin-left: 10px;
        &:hover {
            background: $main-blue-lighter;
        }
    }
    &__icon {
        display: block;
        width: 24px;
        height: 24px;
        background: url('./img/add-contact.png') center center;
    }
}