.add-document {
  border: 2px solid #F0F0F0;
  width: 300px;
  padding: 5px 10px; }
  .add-document__input {
    border: 2px solid #F0F0F0;
    border-radius: 20px;
    padding: 3px 20px;
    outline: none;
    width: 250px;
    transition: box-shadow .3s; }
    .add-document__input:focus {
      -webkit-box-shadow: 0px 0px 15px 0px rgba(117, 168, 213, 0.71);
      -moz-box-shadow: 0px 0px 15px 0px rgba(117, 168, 213, 0.71);
      box-shadow: 0px 0px 15px 0px rgba(117, 168, 213, 0.71); }
  .add-document__button {
    border: none;
    outline: none;
    background: transparent;
    color: #75A8D5;
    font-size: 30px;
    cursor: pointer;
    line-height: 30px;
    margin-left: 6px;
    transition: background .3s;
    border-radius: 5px; }
    .add-document__button:hover {
      background: #EEF2F8; }
  .add-document__form {
    display: flex;
    align-items: center; }

* {
  box-sizing: border-box; }

.top-panel {
  display: flex; }

.bottom-panel {
  height: 100%;
  display: flex; }

.Select {
  width: 300px; }

.Select-control {
  height: 20px; }

html {
  height: 100%; }

body {
  height: 100%; }

.root-div {
  height: 100%; }

#root {
  height: calc(100% - 46px); }

.select-user {
  display: flex;
  width: 300px;
  align-items: center;
  border: 2px solid #F0F0F0;
  border-left: none;
  padding: 0px 10px; }
  .select-user__button {
    margin-right: 10px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    transition: background .3s;
    padding: 5px;
    border-radius: 5px; }
    .select-user__button:hover {
      background: #EEF2F8; }
  .select-user__bin {
    display: block;
    height: 24px;
    width: 24px;
    background: url("./img/garbage.png") center; }

.add-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 10px;
  width: 100%;
  border: 2px solid #F0F0F0;
  border-left: none; }
  .add-user__input {
    border: 2px solid #F0F0F0;
    border-radius: 20px;
    padding: 3px 20px;
    outline: none;
    width: 200px;
    transition: box-shadow .3s; }
    .add-user__input:focus {
      -webkit-box-shadow: 0px 0px 15px 0px rgba(117, 168, 213, 0.71);
      -moz-box-shadow: 0px 0px 15px 0px rgba(117, 168, 213, 0.71);
      box-shadow: 0px 0px 15px 0px rgba(117, 168, 213, 0.71); }
  .add-user__button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: background .3s;
    margin-left: 10px;
    outline: none; }
    .add-user__button:hover {
      background: #EEF2F8; }
  .add-user__icon {
    display: block;
    width: 24px;
    height: 24px;
    background: url("./img/add-contact.png") center center; }
  .add-user__error {
    margin-right: 20px; }

.document-list {
  width: 300px;
  border: 2px solid #F0F0F0;
  margin: 0;
  border-top: none;
  padding: 0;
  overflow-y: scroll; }
  .document-list__item {
    display: flex;
    height: 75px;
    flex-direction: column;
    padding: 20px;
    transition: background .3s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }
    .document-list__item:hover {
      background: #F0F0F0; }
    .document-list__item-title {
      font-size: 14px; }
  .document-list__item.active {
    background: #EEF2F8;
    cursor: auto; }

.document-display {
  width: 100%; }
  .document-display__textarea {
    resize: none;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 30px 60px;
    font-size: 20px; }
